# Mice RNA sequence dataset

**Informaci√≥n**

* El dataset contiene 8 muestras de ratones de 2 y 6 meses de edad con Huntington. 

* Hay 23351 genes en el conjunto de datos.

* El genotipo de los ratones con enfermedad de Huntington es ployQ 111.

In [1]:
#Leemos el dataset con pandas
import pandas as pd
df = pd.read_csv('../Data/striatum_tissue_HD_mice_rna_seq.csv')
df.head()

,genename,2m_Q111,2m_Q111.1,2m_Q111.2,2m_Q111.3,2m_Q111.4,2m_Q111.5,2m_Q111.6,2m_Q111.7,6m_Q111_WT,6m_Q111,6m_Q111_WT2,6m_Q111_WT.1,6m_Q111_WT.2,6m_Q111_WT.3,6m_Q111_WT.4,6m_Q111_WT.5
0,0610005C13Rik,0.257943,0.166279,0.212527,0.099808,0.174050,0.154453,0.176282,0.423912,0.234988,0.217897,0.157242,0.308863,0.291897,0.242389,0.244245,0.139836
1,0610007N19Rik,1.185784,1.416757,1.517476,1.366710,1.358504,1.004621,1.394704,1.243891,1.268191,1.369018,1.311482,1.369519,1.253628,1.222840,1.226338,1.129751
2,0610007P14Rik,29.511879,28.831443,30.472978,32.419875,43.583170,30.526665,28.950106,32.680878,26.607311,28.747372,29.874060,29.726219,27.979315,28.415127,27.914722,27.877999
3,0610008F07Rik,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
4,0610009B14Rik,0.119631,0.079975,0.000000,0.000000,0.000000,0.041786,0.042393,0.087381,0.059835,0.000000,0.000000,0.000000,0.028717,0.000000,0.146842,0.000000

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23351 entries, 0 to 23350
Data columns (total 17 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   genename      23351 non-null  object
 1   2m_Q111       23351 non-null  float64
 2   2m_Q111.1     23351 non-null  float64
 3   2m_Q111.2     23351 non-null  float64
 4   2m_Q111.3     23351 non-null  float64
 5   2m_Q111.4     23351 non-null  float64
 6   2m_Q111.5     23351 non-null  float64
 7   2m_Q111.6     23351 non-null  float64
 8   2m_Q111.7     23351 non-null  float64
 9   6m_Q111_WT    23351 non-null  float64
 10  6m_Q111       23351 non-null  float64
 11  6m_Q111_WT2   23351 non-null  float64
 12  6m_Q111_WT.1  23351 non-null  float64
 13  6m_Q111_WT.2  23351 non-null  float64
 14  6m_Q111_WT.3  23351 non-null  float64
 15  6m_Q111_WT.4  23351 non-null  float64
 16  6m_Q111_WT.5  23351 non-null  float64
dtypes: float64(16), object(1)
memory usage: 3.0+ MB

In [5]:
df.shape

(23351, 17)

In [6]:
#Nos aseguramos de que no existan valores nulos en el dataset
df.isnull().sum()

genename        0
2m_Q111         0
2m_Q111.1       0
2m_Q111.2       0
2m_Q111.3       0
2m_Q111.4       0
2m_Q111.5       0
2m_Q111.6       0
2m_Q111.7       0
6m_Q111_WT      0
6m_Q111         0
6m_Q111_WT2     0
6m_Q111_WT.1    0
6m_Q111_WT.2    0
6m_Q111_WT.3    0
6m_Q111_WT.4    0
6m_Q111_WT.5    0
dtype: int64

In [8]:
#Verificamos que no hayan genes repetidos
df.genename.unique().shape

(23351,)

In [9]:
#Observamos los estad√≠sticos de cada muestra de rat√≥n
df.describe().T

,count,mean,std,min,25%,50%,75%,max
2m_Q111,23351.0,12.273165,41.468841,0.0,0.030568,2.012182,10.979068,1468.145886
2m_Q111.1,23351.0,12.155869,41.001382,0.0,0.023484,1.946278,10.826862,1646.841533
2m_Q111.2,23351.0,12.072221,40.449529,0.0,0.025111,1.932458,10.815307,1448.207199
2m_Q111.3,23351.0,12.742005,44.673504,0.0,0.024505,1.998238,11.000172,1640.027007
2m_Q111.4,23351.0,13.995445,54.089615,0.0,0.019544,1.681420,10.729947,2312.580568
2m_Q111.5,23351.0,12.266328,41.929117,0.0,0.023267,1.896525,10.758169,1544.180365
2m_Q111.6,23351.0,12.321566,41.748746,0.0,0.022621,1.903574,10.847404,1471.994001
2m_Q111.7,23351.0,12.304140,42.614863,0.0,0.025244,1.935488,10.763025,1512.020026
6m_Q111_WT,23351.0,12.301352,42.294505,0.0,0.028658,2.000443,10.862816,1590.998117
6m_Q111,23351.0,12.284149,42.097220,0.0,0.032290,2.025417,10.851692,1561.315889
6m_Q111_WT2,23351.0,12.194521,42.656976,0.0,0.024431,1.880589,10.708619,1608.551825
6m_Q111_WT.1,23351.0,12.307076,42.774571,0.0,0.027976,1.934746,10.769787,1694.426368
6m_Q111_WT.2,23351.0,12.325155,43.456716,0.0,0.030934,1.963321,10.663553,1681.996373
6m_Q111_WT.3,23351.0,12.367241,43.294423,0.0,0.033399,2.013477,10.788530,1771.815564
6m_Q111_WT.4,23351.0,12.155462,40.868937,0.0,0.030159,2.019690,10.914742,1462.192137
6m_Q111_WT.5,23351.0,12.229496,41.668751,0.0,0.028886,1.979339,10.833720,1609.190546

In [16]:
#Analizamos el ajuste de bondad para cada muestra
from scipy import stats
for i in df.columns[1:]:
    print(f"Shapiro de {i}: {stats.shapiro(df[i])}")
    print(f"Kolmogorov de {i}: {stats.kstest(df[i], stats.norm.cdf)}\n")

Shapiro de 2m_Q111: ShapiroResult(statistic=0.25623828172683716, pvalue=0.0)
Kolmogorov de 2m_Q111: KstestResult(statistic=0.5, pvalue=0.0)

Shapiro de 2m_Q111.1: ShapiroResult(statistic=0.25757038593292236, pvalue=0.0)
Kolmogorov de 2m_Q111.1: KstestResult(statistic=0.5, pvalue=0.0)

Shapiro de 2m_Q111.2: ShapiroResult(statistic=0.25977659225463867, pvalue=0.0)
Kolmogorov de 2m_Q111.2: KstestResult(statistic=0.5, pvalue=0.0)

Shapiro de 2m_Q111.3: ShapiroResult(statistic=0.24447375535964966, pvalue=0.0)
Kolmogorov de 2m_Q111.3: KstestResult(statistic=0.5, pvalue=0.0)

Shapiro de 2m_Q111.4: ShapiroResult(statistic=0.21890807151794434, pvalue=0.0)
Kolmogorov de 2m_Q111.4: KstestResult(statistic=0.5, pvalue=0.0)

Shapiro de 2m_Q111.5: ShapiroResult(statistic=0.25385767221450806, pvalue=0.0)
Kolmogorov de 2m_Q111.5: KstestResult(statistic=0.5, pvalue=0.0)

Shapiro de 2m_Q111.6: ShapiroResult(statistic=0.2575339078903198, pvalue=0.0)
Kolmogorov de 2m_Q111.6: KstestResult(statistic=0.5, pvalue=0.0)

Shapiro de 2m_Q111.7: ShapiroResult(statistic=0.24839699268341064, pvalue=0.0)
Kolmogorov de 2m_Q111.7: KstestResult(statistic=0.5, pvalue=0.0)

Shapiro de 6m_Q111_WT: ShapiroResult(statistic=0.24978679418563843, pvalue=0.0)
Kolmogorov de 6m_Q111_WT: KstestResult(statistic=0.5, pvalue=0.0)

Shapiro de 6m_Q111: ShapiroResult(statistic=0.2512773275375366, pvalue=0.0)
Kolmogorov de 6m_Q111: KstestResult(statistic=0.5, pvalue=0.0)

Shapiro de 6m_Q111_WT2: ShapiroResult(statistic=0.2442798614501953, pvalue=0.0)
Kolmogorov de 6m_Q111_WT2: KstestResult(statistic=0.5, pvalue=0.0)

Shapiro de 6m_Q111_WT.1: ShapiroResult(statistic=0.24626809358596802, pvalue=0.0)
Kolmogorov de 6m_Q111_WT.1: KstestResult(statistic=0.5, pvalue=0.0)

Shapiro de 6m_Q111_WT.2: ShapiroResult(statistic=0.24205058813095093, pvalue=0.0)
Kolmogorov de 6m_Q111_WT.2: KstestResult(statistic=0.5, pvalue=0.0)

Shapiro de 6m_Q111_WT.3: ShapiroResult(statistic=0.2433469295501709, pvalue=0.0)
Kolmogorov de 6m_Q111_WT.3: KstestResult(statistic=0.5, pvalue=0.0)

Shapiro de 6m_Q111_WT.4: ShapiroResult(statistic=0.25763022899627686, pvalue=0.0)
Kolmogorov de 6m_Q111_WT.4: KstestResult(statistic=0.5, pvalue=0.0)

Shapiro de 6m_Q111_WT.5: ShapiroResult(statistic=0.25385987758636475, pvalue=0.0)
Kolmogorov de 6m_Q111_WT.5: KstestResult(statistic=0.5, pvalue=0.0)

In [18]:
*df.genename.to_numpy()

['0610005C13Rik' '0610007N19Rik' '0610007P14Rik' ... 'a' 'l7Rn6' 'ssu2']

# Peripheral blood gene expression

In [4]:
import pandas as pd
df = pd.read_csv('../Data/GSE140830_peripheral_blood_gene_expression.txt', sep=" ", header=None)
df.head()

                                                   0
0  ID_REF\t5872617031_A\t5872617031_C\t5872617031...
1  A1BG\t7.507838720383383\t7.541528253099532\t7....
2  A1CF\t7.50291728366302\t7.5477385591142\t7.480...
3  A3GALT2\t7.468617200520171\t7.449261981285649\...
4  A4GALT\t7.454611120787822\t7.446890859623191\t...